[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
ninja = "*"
packaging = "*"
psutil = "*"
setuptools = "*"
wheel = "*"
torch = "==2.6"
flash-attn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
