__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.venv
venv/
ENV/
env/
.git
.github
.gitignore
.vscode
.idea
*.db
*.sqlite
*.sqlite3
.DS_Store
*.log
.pytest_cache
htmlcov
.coverage
