[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = ">=2.0.0"
pydantic = ">=2.0.0"
pydantic-settings = "*"
python-dotenv = "*"
google-generativeai = "*"
email-validator = "*"
google-genai = "*"
psycopg2-binary = "*"
pgvector = "*"
langchain = "*"
langchain-ollama = "*"
langchain-huggingface = "*"
langchain-postgres = "*"
alembic = "*"

[dev-packages]
pytest = "*"
httpx = "*"

[requires]
python_version = "3.11"
